*{Padding: 0;
  Margin: 0;
  Box-sizing: border-box}
       
  .clearfix::after{
    content: "";
    display: table;
    clear: both;}
   
   html {
     scroll-behavior: smooth;
   }

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* FINE UTILITY */

/* INIZIO HEADER */

header{
    /* background-image: url('./img/jumbo.png'); */
    background-color: #3161E0;
    width: 100%;
    height: 100px;
}

.cont-menu{
    padding: 5px;
    height: 100px;
    display: block;
    width: 100%;
    position: relative;
}

header a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 1em;
    color: white;
}

.logo{
    position: absolute;
    top: 30%;
    left: 15%;
}

.menu{
    position: absolute;
    top: 38%;
    left: 30%;
}

.accesso{
    position: absolute;
    padding: 10px 10px;
    /* width: auto; */
    background-color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 150%;
    left: 85%;
    top: 30%;
    font-size: 0.5em;
}

/* FINE HEADER */

/* INIZIO PRIMA SECTION */

.firstsection{
    background-image: url('./img/jumbo.png');
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    font-weight: bold;
    
}
.first-text{
    position: absolute;
    width: 650px;
    height: 350px;
    left: 33%;
    top: 16%;
    text-align: center;
    color: white;
    font-size: 2.2em;
}

.first-text span{
    font-size: 0.4em;
}

.anchorfirst a{
    text-decoration: none;
    margin-left: 30px;
}

.anchorfirst{
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 34%;
}

.buttomfirst{
    padding: 15px 15px;
    background-color: white;
    color: black;
    border-radius: 25px;
    font-size: 1.3em;
}

.anchorfirst a:nth-child(2){
    background-color: black;
    color: white;
}

